body{
    font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}
.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-6{
    background-color: rgba(227, 235, 235, 0.8);
    padding: 40px;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
}
.logo{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #878787;
    padding: 8px 12px;
    border-radius: 6px;
    opacity: 0.5;
    transition: ease 0.3s;
}
.logo:hover{
    opacity: 1;   
}
h5{
    text-align: center;
    color: var(--bs-gray-dark);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.form-group{
    position: relative;
}
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.form-control {
    background-color: #232a31;
    border: none;
    border-radius: 5px;
    padding: 12px 15px 12px 30px;
    color: white;
}
.btn-auth{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    transition: ease 0.3s;
    background-color: #a4b3c2;
    color: white;
}
.login-link{
    font-size: 14px;
    color: black;
    text-align: center;
}
.login-link a{
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}
.login-link a:hover{
    text-decoration: underline;
    color: #0056b3;
}