.banner-group{
   background-image: url("../img/backgrd.png"); 
   width: 100%;
   height: 100%;
   background-position: center bottom;
   background-size: 100% 100%;
   background-attachment: fixed;
}
header{
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.header profile button{
    background: none;
    border: none;
    color: white;
}
.header .logo img{
    max-width: 200px;
}
.banner-text{
    padding-top: 150px;
}
.banner-text .title{
    font-size: 3rem;    
}
.nav-id a:hover{
    color: black
    !important;
}
.dropdown-menu{
    padding: 0;
    border-radius: 8px;
}
.dropdown-item{
    border-radius: 8px;
}