.banner-group{
   background-color: #cae3f6;
   width: 100%;
   min-height: 100vh;
   padding-bottom: 50px;
}
header{
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 90px; /* Tăng chiều cao của header */
  display: flex;
  align-items: center;
  width: 100%;
}
header .profile button{
    background: none;
    border: none;
    color: white;
}
header .logo img{
    max-width: 200px;
}
.banner-text{
    padding-top: 150px;
}
.banner-text .title{
    font-size: 3rem;    
}
.nav-id a:hover{
    color: black
    !important;
}
.dropdown-menu{
    padding: 0;
    border-radius: 8px;
}
.dropdown-item{
    border-radius: 8px;
}